<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div layout:fragment="custom-content">
<div id="page-wrapper" class="gray-bg dashbard-1" >
    <div class="content-main">

        <!--banner-->
        <div class="banner">

            <h2>
                <a th:href="@{/}">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Dashboard</span>
            </h2>
        </div>


    <div class="clearfix"> </div>

        <div class="grid-form">
            <div class="grid-form1 min-height">
                 <div class="panel-body">

                     <h3 id="forms-horizontal">Add User</h3>
                     <span th:class="succes" th:text="${successMsg}"></span>
                     <span th:class="err" th:text="${rejectMsg}"></span>
                        <form th:object="${user}" th:action="@{/user/add}" th:method="POST">

                    <div class="form-group has-success">
                        <label class="col-md-6 control-label">Role</label>
                        <div class="col-sm-12">
                            <span class="input-group-addon">
										<i class="fa fa-dashcube"></i>
                                <select th:field="*{roles}" multiple class="form-control1">
                                  <option th:each="role : ${rolelist}" th:value="${role.id}"><span th:text="${role.roleName}"></span></option>
                                </select>
                            </span>
                        </div>
                    </div>
                            <br/>
                            <br/>
                            <br/>
                            <br/>
                            <br/>

                    <div class="form-group has-success">
                        <label class="col-md-12 control-label" for="firstName">First Name</label>
                        <div class="col-md-12">
                            <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                <input class="form-control1" type="text" th:field="*{firstName}" id="firstName" placeholder="First Name" required>
                                <span th:class="err" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</span>
                            </div>
                        </div>
                    </div>


                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="lastName">Last Name</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                        <input class="form-control1" type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="email">Email</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-envelope-o"></i>
									</span>
                                        <input class="form-control1" type="email" th:field="*{email}" id="email" placeholder="Email" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="password">Password</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-key"></i>
									</span>
                                        <input class="form-control1" type="password" th:field="*{password}" id="password" placeholder="Password" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group has-success">
                                <label class="col-md-12 control-label">BirthDate</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</span>
                                        <input type="date" th:text="${#dates.format(user.birthDate, 'yyyy-MM-dd')}" th:field="*{birthDate}"  class="fa-calendar" placeholder="Enter Birth Date">
                                        <span th:class="err" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">BirthDate</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group has-success">
                                <label class="col-md-12 control-label">Gender</label>
                                <div class="col-md-12">
                                    <div class="input-group ">
                                        <ul>
                                            <li>

                                                <input type="radio" id="m" name="gender" value="Mele" th:field="*{gender}" class="has-success">
                                                <label for="m"><span></span>Male</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="f" name="gender" value="Female" th:field="*{gender}" class="has-success">
                                                <label for="f"><span></span>Female</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                           <div class="clearfix"> </div>

                <div>
                    <h1><button type="submit" class="label label-success">ADD</button>&nbsp;<button type="reset" class="label label-success">Reset</button></h1>

                </div>
                <div class="clearfix"> </div>
            </form>
            </div>
        <!--</div>-->
    <!--</div>-->
    </div>
    </div>
</div>
</div>
</div>
</body>
</html>


<!--<div class="form-group has-success">-->
<!--<label class="col-md-12 control-label">Gender</label>-->
<!--<div class="col-md-12">-->
<!--<div class="input-group">-->
<!--<div class="input-group-addon">-->
<!--<label for="m"><span><input type="radio" class="form-control1 radio block fa-genderless" id="m" name="gender" value="m" th:field="*{gender}"></span>Male</label>-->

<!--</div>-->
<!--<div class="input-group-addon">-->
<!--<label for="f"><span><input type="radio" class="form-control1 radio block" id="f" name="gender" value="f" th:field="*{gender}"></span>Female</label>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div>-->
<!--<label class="control-label">Gender</label>-->
<!--<ul>-->
<!--<li>-->
<!--<input type="radio" id="m" name="gender" value="m" th:field="*{gender}">-->
<!--<label for="m"><span></span>Male</label>-->
<!--</li>-->
<!--<li>-->
<!--<input type="radio" id="f" name="gender" value="f" th:field="*{gender}">-->
<!--<label for="f"><span></span>Female</label>-->
<!--</li>-->
<!--</ul>-->

<!--</div>-->