<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div id="page-wrapper" class="gray-bg dashbard-1" >
        <div class="content-main">

            <!--banner-->
            <div class="banner">

                <h2>
                    <a th:href="@{/}">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Dashboard</span>
                </h2>
            </div>


            <div class="clearfix"> </div>

            <div class="grid-form">
                <div class="grid-form1 min-height">

                    <h1>Train List</h1><br/><br/>

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>SL. No</th>
                            <th>Train Name</th>
                            <th>Train No</th>
                            <th>Schedule Time</th>
                            <th>Route</th>
                            <th>Station</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="train : ${list}">
                            <td th:text="${train.id}" class="has-success"></td>
                            <td th:text="${train.trainName}"></td>
                            <td th:text="${train.trainNo}"></td>
                            <td th:text="${train.sheduleTime.startTime}"></td>
                            <td th:text="${train.route.routeName}"></td>
                            <td th:text="${train.station.stationName}"></td>

                            <!--<td th:each="s : ${train.sheduleTime}">-->
                                <!--<span th:text="${s.id}"></span>-->
                            <!--</td>-->
                            <!--<td th:each="r : ${train.route}">-->
                                <!--<span th:text="${r.id}"></span>-->
                            <!--</td>-->
                            <!--<td th:each="st: ${train.station}">-->
                                <!--<span th:text="${st.id}"></span>-->
                            <!--</td>-->


                            <td>
                                <a th:href="@{'/train/edit/'+${train.id}}"><span class="label label-success">Edit</span></a>
                            </td>
                            <td>
                                <a th:href="@{'/train/del/'+${train.id}}"><span class="label label-danger">Delete</span></a>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>SL. No</th>
                            <th>Train Name</th>
                            <th>Train No</th>
                            <th>Schedule Time</th>
                            <th>Route</th>
                            <th>Station</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

</body>
</html>