<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title></title>
</head>
<body>
<div layout:fragment="custom-content">
    <div id="page-wrapper" class="gray-bg dashbard-1" >
        <div class="content-main">

            <!--banner-->
            <div class="banner">

                <h2>
                    <a th:href="@{/}">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Available-Seat</span>
                </h2>
            </div>


            <div class="clearfix"> </div>

            <div class="grid-form">
                <div class="grid-form1 min-height">
                    <div class="panel-body">

                        <h3 id="forms-horizontal">Add Available-Seat</h3>
                        <span th:class="succes" th:text="${successMsg}"></span>

                        <form th:object="${availableSeats}" th:action="@{/availableSeats/add}" th:method="POST">

                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="availableSeats">Available Seats</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                        <input class="form-control1" type="text" th:field="*{availableSeats}" id="availableSeats" placeholder="AvailableSeats" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('availableSeats')}" th:errors="*{availableSeats}">AvailableSeats Error</span>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="soldSeats">Sold Seats</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                        <input class="form-control1" type="text" th:field="*{soldSeats}" id="soldSeats" placeholder="Sold Seats" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('soldSeats')}" th:errors="*{soldSeats}">Sold Seats Error</span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="totalSeats">Total Seats</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                        <input class="form-control1" type="text" th:field="*{totalSeats}" id="totalSeats" placeholder="Total Seats" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('totalSeats')}" th:errors="*{totalSeats}">Total Seats Error</span>
                                    </div>
                                </div>
                            </div>




                            <div class="form-group has-success">
                                <label class="col-md-6 control-label">Train</label>
                                <div class="col-sm-12">
                                     <span class="input-group-addon">
										<i class="fa fa-dashcube"></i>
                                       <select th:field="*{train}"  class="form-control1">
                                            <option th:each="train : ${trainlist}" th:value="${train.id}"><span th:text="${train.trainName}"></span></option>
                                       </select>
                                     </span>
                                </div>
                            </div>


                            <div class="form-group has-success">
                                <label class="col-md-6 control-label">Compartment</label>
                                <div class="col-sm-12">
                                     <span class="input-group-addon">
										<i class="fa fa-dashcube"></i>
                                       <select th:field="*{compartment}"  class="form-control1">
                                            <option th:each="compartment : ${compartmentlist}" th:value="${compartment.id}"><span th:text="${compartment.compartmentName}"></span></option>
                                       </select>
                                     </span>
                                </div>
                            </div>


                            <div class="clearfix"> </div>

                            <div>
                                <h1><button type="submit" class="label label-success">ADD</button>&nbsp;<button type="reset" class="label label-success">Reset</button></h1>

                            </div>
                            <div class="clearfix"> </div>
                        </form>
                    </div>
                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>