<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div id="page-wrapper" class="gray-bg dashbard-1" >
    <div class="content-main">

        <!--banner-->
        <div class="banner">

            <h2>
                <a href="index.html">Home</a>
                <i class="fa fa-angle-right"></i>
                <span>Dashboard</span>
            </h2>
        </div>


        <div class="clearfix"> </div>

        <div class="grid-form">
            <div class="grid-form1 min-height">
                <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>SL. NO</th>
                    <th>Available Seats</th>
                    <th>Sold Seat</th>
                    <th>Total Seat</th>
                    <th>Train</th>
                    <th>Compartment</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="availableSeats : ${list}">
                    <td th:text="${availableSeats.id}" class="has-success"></td>
                    <td th:text="${availableSeats.availableSeats}"></td>
                    <td th:text="${availableSeats.soldSeats}"></td>
                    <td th:text="${availableSeats.totalSeats}"></td>
                    <td th:each="t : ${availableSeats.train}">
                        <span th:text="${t.trainName}"></span>
                    </td>
                    <td th:each="c : ${availableSeats.compartment}">
                        <span th:text="${c.compartmentName}"></span>
                    </td>
                    <td>
                        <a th:href="@{'/availableSeats/edit/'+${availableSeats.id}}"><span class="label label-success">Edit</span></a>
                    </td>
                    <td>
                        <a th:href="@{'/availableSeats/del/'+${availableSeats.id}}"><span class="label label-danger">Delete</span></a>
                    </td>
                </tr>

                </tbody>
                    <tfoot>
                    <tr>
                        <th>SL. NO</th>
                        <th>Available Seats</th>
                        <th>Sold Seat</th>
                        <th>Total Seat</th>
                        <th>Train</th>
                        <th>Compartment</th>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
</div>

</body>
</html>