<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div id="page-wrapper" class="gray-bg dashbard-1" >
        <div class="content-main">

            <!--banner-->
            <div class="banner">

                <h2>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Dashboard</span>
                </h2>
            </div>


            <div class="clearfix"> </div>

            <div class="grid-form">
                <div class="grid-form1 min-height">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>SL. No</th>
                    <th>TrainName</th>
                    <th>CompartmentName</th>
                    <th>SeatNo</th>
                    <th>CabinNo</th>
                    <th>Status</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="seatDetails : ${list}">
                    <td th:text="${seatDetails.id}" class="has-success"></td>

                    <td th:each="t : ${seatDetails.train}">
                        <span th:text="${t.trainName}"></span>
                    </td>
                    <td th:each="c : ${seatDetails.compartment}">
                        <span th:text="${c.compartmentName}"></span>
                    </td>
                    <td th:each="st: ${seatDetails.seatOrCabin}">
                        <span th:text="${st.seatNo}"></span>
                    </td>
                    <td th:each="cb: ${seatDetails.seatOrCabin}">
                        <span th:text="${cb.cabinNo}"></span>
                    </td>
                    <td th:text="${seatDetails.status}"></td>


                    <td>
                        <a th:href="@{'/seatDetails/edit/'+${seatDetails.id}}"><span class="label label-success">Edit</span></a>
                    </td>
                    <td>
                        <a th:href="@{'/seatDetails/del/'+${seatDetails.id}}"><span class="label label-danger">Delete</span></a>
                    </td>
                </tr>

                </tbody>
                        <tfoot>
                        <tr>
                            <th>SL. No</th>
                            <th>TrainName</th>
                            <th>CompartmentName</th>
                            <th>SeatNo</th>
                            <th>CabinNo</th>
                            <th>Status</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

</body>
</html>