<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">

<head>
    <title></title>
    <style type="text/css">
        #container {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: 0px 0px 0px 0px;
        }

        #con-left {
            width: 20%;
            height: auto;
            margin: 0 auto;
            float: left;

        }

        /*#train {*/
            /*width: 60%;*/
            /*height: 500px;*/
            /*float: left;*/

        /*}*/

        #t-left {
            width: 25%;
            height: 500px;
            float: left;
            background: #54e;

        }

        #t-middle {
            width: 10%;
            height: 500px;
            float: left;
            background: rgba(115, 115, 116, 0.69);

        }

        #t-right {
            width: 66%;
            height: 500px;
            float: left;
            background: #54e;

        }

        #con-right {
            width: 20%;
            height: auto;
            margin: 0 auto;
            float: left;

        }

        .seatside {
            width: 30%;
            height: 550px;
            float: left;
            background: #bbbcb9;
            padding: 15px 25px;
            margin: 10px 10px;
            border: #0d0d0d;

        }

        .seat {
            width: 20%;
            float: left;

        }

        .btn {
            width: 50px;
            height: 50px;
            background-color: #a6ea7d;
            border: none;
            color: #8a8acb;
            padding: 1px 10px;
            text-align: center;
            text-decoration: none;
            display: block;
            font-size: 12px;
            margin: 10px 4px;
            cursor: pointer;
            bottom: 50px;
        }

        .btnNo {
            width: 40px;
            height: 25px;
            background-color: #bbbcb9;
            border: none;
            color: white;
            padding: 15px 15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 12px;
            margin: 10px 4px;
            cursor: pointer;
        }

        .checkbox1 {

            left: 0px;
            top: 12px;
            width: 30px;
            height: 30px;
            float: right;
            background-color: #ccc;
        }

        .checkbox2 {

            left: 0px;
            top: 12px;
            width: 38px;
            height: 38px;
            float: right;
            background-color: #ccc;
        }
.true{
    background: #2b542c!important;
}
        .false{
            background: #a94442!important;
        }

    </style>
    <script>
        function callToatl() {
            document.getElementById("totalPrice").value = document.getElementById("unitPrice").value * document.getElementById("noOffSeats").value;
        }
    </script>

</head>
<body>
<div layout:fragment="custom-content">
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="content-main">

            <!--banner-->
            <div class="banner">

                <h2>
                    <a th:href="@{/}">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Dashboard</span>
                </h2>
            </div>


            <div class="clearfix"></div>
            <!--<input type="checkbox" onClick="checkAll(this);" class="checkbox2"/>-->
            <div class="grid-form">
                <div class="grid-form1 min-height">
                    <div class="panel-body">

                        <h3 id="forms-horizontal">Add Reservation </h3>
                        <span th:class="succes" th:text="${successMsg}"></span>



                        <form th:object="${reservation}" th:action="@{/reservation/add}"
                              th:method="POST">



                            <div class="form-group has-success">
                                <label class="col-md-6 control-label">Ticket No</label>
                                <div class="col-sm-12">
                                     <span class="input-group-addon">
										<i class="fa fa-dashcube"></i>
                                       <select th:field="*{ticket}"  class="form-control1">
                                            <option th:each="tic : ${ticketlist}" th:value="${tic.id}" th:text="${tic.ticketNo}"></option>
                                       </select>
                                     </span>
                                </div>
                            </div>



                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="noOffSeats">No Off Seats</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                        <input class="form-control1" type="text" th:field="*{noOffSeats}"  id="noOffSeats" placeholder="NoOffSeats" oninput="callToatl()" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('noOffSeats')}" th:errors="*{noOffSeats}">NoOffSeats Error</span>
                                    </div>
                                </div>
                            </div>




                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="unitPrice">Unit Price</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                        <input class="form-control1" type="text" th:field="*{unitPrice}"  id="unitPrice" placeholder="Unit Price" oninput="callToatl()" required>
                                        <span th:class="err" th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}">Unit Price Error</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-success">
                                <label class="col-md-12 control-label" for="totalPrice">Total Price</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-navicon"></i>
									</span>
                                        <input class="form-control1" type="text" th:field="*{totalPrice}"   id="totalPrice" placeholder="Total Price"  required>
                                        <span th:class="err" th:if="${#fields.hasErrors('totalPrice')}" th:errors="*{totalPrice}">Total Price Error</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group has-success">
                                <label class="col-md-12 control-label">Journy Date</label>
                                <div class="col-md-12">
                                    <div class="input-group">
									<span class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</span>
                                        <input type="date" th:text="${#dates.format(reservation.journyDate, 'yyyy-MM-dd')}" th:field="*{journyDate}"  class="fa-calendar" placeholder="Journy Date">
                                        <span th:class="err" th:if="${#fields.hasErrors('journyDate')}" th:errors="*{journyDate}">Journy Date</span>
                                    </div>
                                </div>
                            </div>



                            <!--<div class="form-group has-success">-->
                                <!--<label class="col-md-6 control-label">Ticket No</label>-->
                                <!--<div class="col-sm-12">-->
                                     <!--<span class="input-group-addon">-->
										<!--<i class="fa fa-dashcube"></i>-->
                                       <!--<select th:field="*{ticket}"  class="form-control1">-->
                                            <!--<option th:each="ticket : ${ticketlist}" th:value="${ticket.id}"><span th:text="${ticket.ticketNo}"></span></option>-->
                                       <!--</select>-->
                                     <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->



                            <!--<div class="form-group has-success">-->
                                <!--<label class="col-md-6 control-label">Compartment</label>-->
                                <!--<div class="col-sm-12">-->
                                     <!--<span class="input-group-addon">-->
										<!--<i class="fa fa-dashcube"></i>-->
                                       <!--<select th:field="*{compartment}"  class="form-control1">-->
                                            <!--<option th:each="compartment : ${compartmentlist}" th:value="${compartment.id}"><span th:text="${compartment.compartmentName}"></span></option>-->
                                       <!--</select>-->
                                     <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->


                            <!--<div class="form-group has-success">-->
                                <!--<label class="col-md-6 control-label">Train</label>-->
                                <!--<div class="col-sm-12">-->
                                     <!--<span class="input-group-addon">-->
										<!--<i class="fa fa-dashcube"></i>-->
                                       <!--<select th:field="*{rv.train}"  class="form-control1">-->
                                            <!--<option th:each="train : ${trainlist}" th:value="${train.id}"><span th:text="${train.trainName}"></span></option>-->
                                       <!--</select>-->
                                     <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->




                            <div class="form-group has-success">
                                <label class="col-md-6 control-label">Train</label>
                                <div class="col-sm-12">
                                     <span class="input-group-addon">
										<i class="fa fa-dashcube"></i>
                                       <select th:field="*{train}"  class="form-control1" name="customers" onchange="showCustomer(this.value)">
                                           <option value="">Select a Train:</option>
                                            <option th:each="train : ${trainlist}" th:value="${train.id}"><span th:text="${train.trainName}"></span></option>
                                       </select>
                                     </span>
                                </div>
                            </div>

                            <!--<div class="form-group has-success">-->
                                <!--<label class="col-md-1 control-label">Available Date</label>-->
                                <!--<div class="col-md-3">-->
                                    <!--<div class="input-group">-->
									<!--<span class="input-group-addon">-->
										<!--<i class="fa fa-calendar"></i>-->
									<!--</span>-->
                                        <!--<input type="date"-->
                                               <!--th:text="${#dates.format(availableTrainSchedule.availableDate, 'yyyy-MM-dd')}"-->
                                               <!--th:field="*{journyDate}" class="fa-calendar"-->
                                               <!--placeholder="Enter Available Date">-->
                                        <!--<span th:class="err" th:if="${#fields.hasErrors('availableDate')}"-->
                                              <!--th:errors="*{journyDate}">Available Date</span>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->


                            <!--<div class="form-group has-success">-->
                                <!--&lt;!&ndash;<label class="col-md-1 control-label">Srea</label>&ndash;&gt;-->
                                <!--<div class="col-md-3">-->
                                    <!--<div class="input-group">-->
									<!--<span class="input-group-addon">-->
										<!--<i class="fa fa-search-minus"></i>-->
									<!--</span>-->
                                        <!--<button type="submit" class="label label-success">Search</button>-->
                                        <!--&lt;!&ndash;<input type="submit" value="" class="fa fa-search">&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="form-group has-success">-->
                                <!--<label class="col-md-12 control-label">Status</label>-->
                                <!--<div class="col-md-12">-->
                                    <!--<div class="input-group ">-->
                                        <!--<ul>-->
                                            <!--<li>-->

                                                <!--<input type="radio" id="t" name="status" value="true"-->
                                                       <!--th:field="*{seatDetails.status}" class="has-success">-->
                                                <!--<label for="t"><span></span>True</label>-->
                                            <!--</li>-->
                                            <!--<li>-->
                                                <!--<input type="radio" id="f" name="status" value="false"-->
                                                       <!--th:field="*{seatDetails.status}" class="has-success">-->
                                                <!--<label for="f"><span></span>False</label>-->
                                            <!--</li>-->
                                        <!--</ul>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                            <br>
                            <br>
                            <br>

                            <div th:each="com : ${sad.train.compartmentList}" >

                                <div id="container">

                                    <div class="seatside">
                                        <!--<input type="checkbox" onClick="checkAll(this);" class="checkbox2"/>-->

                                        <h1 th:text="${com.compartmentName}" id="locality-dropdown" name="locality"></h1>
                                        <div th:each=" sd , iter : ${com.seatDetailsList}" class="seat">
                                            <!--<span th:if="${iter.index} % 2">-->
                                            <!--<button type="button" class="btn">FAKA</button>-->
                                            <!--</span>-->
                                            <span class="btn">
                                                    <input type="checkbox"  th:field="*{seatDetails}" th:value="${sd?.seatOrCabin?.id}"    th:class="${sad.status}+' '+checkbox1" >
                                                    <span type="button" th:text="${sd.seatOrCabin.seatNo}"></span>
</span>

                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="clearfix"></div>

                            <div>
                                <h1>
                                    <button type="submit" class="label label-success">ADD</button>&nbsp;<button
                                        type="reset" class="label label-success">Reset
                                </button>
                                </h1>

                            </div>
                            <div class="clearfix"></div>
                        </form>


                        <hr/>


                        <!--<div th:each="com : ${train.compartmentList}">-->

                            <!--<div id="container">-->


                                <!--&lt;!&ndash;<div id="train">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div id="t-left">&ndash;&gt;-->


                                <!--<div class="seatside">-->
                                    <!--<input type="checkbox" onClick="checkAll(this);" class="checkbox2"/>-->

                                    <!--<h1 th:text="${com.compartmentName}"></h1>-->
                                    <!--<div th:each=" sd , iter : ${com.seatDetailsList}" class="seat">-->
                                        <!--&lt;!&ndash;<span th:if="${iter.index} % 2">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<button type="button" class="btn">FAKA</button>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</span>&ndash;&gt;-->
                                        <!--<span class="btn">-->
                                                    <!--<input type="checkbox" class="checkbox1"/>-->
                                                    <!--<span type="button" th:text="${sd.seatOrCabin.seatNo}"></span>-->
<!--</span>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                    </div>

                    <script>


                        ///////////////////
                        function showCustomer(id) {
                            var dropdown = document.getElementById('locality-dropdown');
                            dropdown.length = 0;

                            var defaultOption = document.createElement('option');
                            defaultOption.text = 'Choose State/Province';
                            defaultOption.value = '0';
                            dropdown.add(defaultOption);
                            dropdown.selectedIndex = 0;



                            var xhttp;
                            if (id == "") {
                                document.getElementById("txtHint").innerHTML = "";
                                return;
                            }
                            xhttp = new XMLHttpRequest();
                            xhttp.onreadystatechange = function() {
                                if (this.readyState == 4 && this.status == 200) {
                                    document.getElementById("txtHint").innerHTML = this.responseText;
                                    var data = JSON.parse(this.responseText);
                                    var option;
                                    for (var i = 0; i < data.length; i++) {
                                        option = document.createElement('option');
                                        option.text = data[i].city;
                                        option.value = data[i].id;
                                        dropdown.add(option);
                                    }
                                }
                            };
                            xhttp.open("GET", "http://localhost:5000/city?id="+id, true);
                            xhttp.send();
                        }
                    </script>

                    <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>