<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">

<head>
    <title></title>
</head>
<body>
<div layout:fragment="custom-content">
    <div id="page-wrapper" class="gray-bg dashbard-1" >
        <div class="content-main">

            <!--banner-->
            <div class="banner">

                <h2>
                    <a th:href="@{/}">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Dashboard</span>
                </h2>
            </div>


            <div class="clearfix"> </div>

            <div class="grid-form">
                <div class="grid-form1 min-height">

                    <h1>Reservation List</h1><br/><br/>

                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <thead>
                <tr>
                    <th>No Off Seats</th>
                    <th>Total Price</th>
                    <th>Unit Price</th>
                    <th>Journey Date</th>
                    <th>Ticket No</th>
                    <th>Compartment</th>
                    <th>Train</th>
                    <th>User</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="reservation : ${list}">
                    <td th:text="${reservation.id}" class="has-success"></td>
                    <td th:text="${reservation.noOffSeats}"></td>
                    <td th:text="${reservation.totalPrice}"></td>
                    <td th:text="${reservation.unitPrice}"></td>
                    <td th:text="${reservation.journyDate}"></td>
                    <td th:text="${reservation.ticket.ticketNo}"></td>
                    <td th:text="${reservation.compartment.compartmentName}"></td>
                    <td th:text="${reservation.train.trainName}"></td>
                    <!--<td th:text="${reservation.user.userName}"></td>-->


                    <!--<td th:each="tc : ${reservation.ticket}">-->
                        <!--<span th:text="${tc.ticketNo}"></span>-->
                    <!--</td>-->
                    <!--<td th:each="c : ${reservation.compartment}">-->
                        <!--<span th:text="${c.compartmentName}"></span>-->
                    <!--</td>-->
                    <!--<td th:each="t: ${reservation.train}">-->
                        <!--<span th:text="${t.trainName}"></span>-->
                    <!--</td>-->
                    <!--<td th:each="u: ${reservation.user}">-->
                        <!--<span th:text="${u.userName}"></span>-->
                    <!--</td>-->
                    <td>
                        <a th:href="@{'/reservation/edit/'+${reservation.id}}"><span class="label label-success">Edit</span></a>
                    </td>
                    <td>
                        <a th:href="@{'/reservation/del/'+${reservation.id}}"><span class="label label-danger">Delete</span></a>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th>No Off Seats</th>
                    <th>Total Price</th>
                    <th>Unit Price</th>
                    <th>Journey Date</th>
                    <th>TicketNo</th>
                    <th>Compartment</th>
                    <th>Train</th>
                    <th>User</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </tfoot>
            </table>

        </div>
    </div>
</div>
<div class="clearfix"> </div>
</div>
</div>
</body>
</html>