
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title> Signup | Train Ticket Reservation</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' th:href="@{/css/bootstrap.min.css}"/>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' th:href="@{/css/style.css}" />
<link href="css/font-awesome.css" rel="stylesheet" th:href="@{/css/font-awesome.css}"/>
<script src="js/jquery.min.js" th:src="@{/js/jquery.min.js}"> </script>
<script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"> </script>
</head>
<body>

<div id="dp-container"  th:style="'background-image:url(' + @{/images/t4.jpg} + ');'">
	<div class="login">
		<h1><a th:href="@{/}">Train Ticket Reservation</a></h1>
		<div class="login-bottom">
			<h2>Register</h2>
			<span th:class="succes" th:text="${successMsg}"></span>
			<span th:class="err" th:text="${rejectMsg}"></span>
			<form th:object="${user}" th:action="@{/signup}" th:method="POST">
			<div class="col-md-6">
				<div class="login-mail">
					<input type="text"  th:field="*{firstName}" placeholder="Enter First Name" required="true">
					<i class="fa fa-user"></i>
				</div>
				<div class="login-mail">
					<input type="text"  th:field="*{lastName}" placeholder="Enter Last Name" required="true">
					<i class="fa fa-user"></i>
				</div>
				<div class="login-mail">
					<input type="email"  th:field="*{email}" placeholder="Enter Email" required="true">
					<i class="fa fa-envelope-o"></i>
				</div>
				<div class="login-mail">
					<input type="date" th:text="${#dates.format(user.birthDate, 'yyyy-MM-dd')}" th:field="*{birthDate}"  class="fa-calendar" placeholder="Enter Birth Date">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="login-mail">
					<ul>
						<li>
							<input type="radio" id="m" name="gender" value="m" th:field="*{gender}">
							<label for="m"><span></span>Male</label>
						</li>
						<li>
							<input type="radio" id="f" name="gender" value="f" th:field="*{gender}">
							<label for="f"><span></span>Female</label>
						</li>
					</ul>
					<i class="fa fa"></i>
				</div>
				  <a class="news-letter" href="#">
						 <label class="checkbox1"><input type="checkbox" name="checkbox" ><i> </i>I agree with the terms</label>
					   </a>
	
			</div>
			<div class="col-md-6 login-do">
				<label class="hvr-shutter-in-horizontal login-sub">
					<input type="submit" value="Submit">
					</label>
					<p>Already register</p>
				<a th:href="@{/login}" class="hvr-shutter-in-horizontal">Login</a>
			</div>
			<div class="clearfix"> </div>
			</form>
		</div>
	</div>
		<!---->
	<div th:replace="~{fragments/footer.html :: footer}"></div>
</div>
<!---->
<!--scrolling js-->
	<script src="js/jquery.nicescroll.js" th:src="@{/js/jquery.nicescroll.js}"></script>
	<script src="js/scripts.js" th:src="@{/js/scripts.js}"></script>
	<!--//scrolling js-->
</body>
</html>

