<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>

<div class="copy" th:fragment="footer">
    <marquee class="pull-center" behavior="scroll" direction="left">Please help BD railways and government of BD in moving towards a digitized and cashless economy. Eradicate black money.

    </marquee>
    <p> Trainee ID: 1243613 </p>
    <p>Train Name: Nurnahar Moly</p>
    <p>Batch: J2EE/CCSL-M/37/01</p>
    <p>Round: 37</p>
    <p>Project: Train Ticket Reservation</p>
    <p>Instructed By MD.Rajaul Islam Trainer J2EE CCSL.</p>
    <p>This project is submitted To MD.Moshahidul Islam Consultant IDB-BISEW IT SCHOLARSHIP PROJECT</p>
    <p>&copy; 2019 Train Ticket Reservation. All Rights Reserved .</p>
</div>
</body>

</html>