<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layoutlist.html}">

<head>
    <title>Device Info List</title>
</head>
<body>
<div layout:fragment="custom-content">
    <div id="page-wrapper" class="gray-bg dashbard-1" >
        <div class="content-main">

            <!--banner-->
            <div class="banner">

                <h2>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                    <span>Dashboard</span>
                </h2>
            </div>


            <div class="clearfix"> </div>

            <div class="grid-form">
                <div class="grid-form1 min-height">
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                        <tr>
                            <th>SL. No</th>
                            <th>CompartmentName</th>
                            <th>CompartmentNo</th>
                            <th>Train</th>
                            <th>Edit</th>
                            <th>Del</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="compartment : ${list}">
                            <td th:text="${compartment.id}" class="has-success"></td>
                            <td th:text="${compartment.compartmentName}"></td>
                            <td th:text="${compartment.compartmentNo}"></td>
                            <td th:each="t : ${compartment.train}">
                                <span th:text="${t.id}"></span>
                            </td>
                            <td>
                                <a th:href="@{'/compartment/edit/'+${compartment.id}}">Edit</a>
                            </td>
                            <td>
                                <a th:href="@{'/compartment/del/'+${compartment.id}}">Del</a>
                            </td>
                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <th>SL. No</th>
                            <th>CompartmentName</th>
                            <th>CompartmentNo</th>
                            <th>Train</th>
                            <th>Edit</th>
                            <th>Del</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>

</body>
</html>